<nav class=" navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://cdn.discordapp.com/attachments/917028907419570176/1127607552952246342/Repu_1.png" width="70" height="28">
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/#HowItWorks">
        How it works
      </a>
      <a class="navbar-item" href="/#features" data-section="features">Features</a>

      <a class="navbar-item" href="https://drive.google.com/file/d/1KFZH9UPIEF1RQxKl8b5WsL3g8cc4WKiR/view?usp=drive_link">
        Docs
      </a>

      </div>
   </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-blue" href="{% url 'login' %}">
              <span>
                log in
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-dark" target="_blank" href="https://github.com/othmanera/FruitWeightApp">

              <!-- <span class="icon"> -->

              <!-- </span> -->
              <span>github</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>