{% extends 'base.html' %}

{% block content %}



<section class="hero is-fullheight has-background">
  <!-- Background Embedded Content -->
  <div class="hero-background">
    <!-- Add your embedded content here -->

<spline-viewer url="https://prod.spline.design/PKXklgJnmlrMZuG9/scene.splinecode"></spline-viewer>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Your Title Here
      </h1>
      <h2 class="subtitle is-3">
        Your subtitle goes here.
      </h2>

      <!-- Buttons -->
      <div class="buttons">
        <a class="button is-primary is-rounded">
          Button 1
        </a>
        <a class="button is-secondary is-rounded">
          Button 2
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}