{% extends 'base.html' %}

{% block content %}
<!-- Background Embedded Content -->
  <div class="hero-background">
    <!-- Add your embedded content here -->
    <iframe src="https://my.spline.design/3dpathslines1copy-0e1bc8013a578afccd7d9f1ed79a689f/" frameborder="500px"></iframe>
  </div>
<section class="hero is-fullheight has-background">


  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Your Title Here
      </h1>
      <h2 class="subtitle is-3">
        Your subtitle goes here.
      </h2>
    </div>

    <!-- Centered Buttons -->
    <div class="has-text-centered">
      <a class="button is-primary is-rounded">
        Button 1
      </a>
      <a class="button is-secondary is-rounded">
        Button 2
      </a>
    </div>
  </div>
</section>



{% endblock %}