{% extends 'base.html' %}

{% block content %}

<style>
/* Set the section to relative positioning to contain the iframe */
.iframe-background {
  position: relative;
  overflow: hidden;
}

/* Style the container for the iframe */
.iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind other content */
}

/* Style the iframe to cover the entire container */
.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none; /* Remove iframe border */
}

</style>

<section class="hero is-large iframe-background">
 <div class="iframe-container">
    <iframe src="https://my.spline.design/metallines-b76cdd61cbd5151b21776901391a34cf/" frameborder="0"></iframe>
  </div>
  <div class="hero-body">
    <p class="title">
      Large hero
    </p>
    <p class="subtitle">
      Large subtitle
    </p>
  </div>
</section>

{% endblock %}